*{
    padding: 0%;
    margin: 0%;
}
html{
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
    color: black;
}
.masterhead{
    width: 100%;
    height: 12vh;
    position: fixed;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}
.global-header{
    width: 85%;
    background-color: yellow;
    height: 85%;
    border-radius: 60px;
    display: flex;
}
.header-content,.header-buttons-container{
    height: 100%;
}
.header-content{
    width: 30%;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 4%;
    padding-left: 0.5%;
}
.header-img{
    height: 85%;
}
.header-buttons-container{
    width: 70%;
    display: flex;
    justify-content: end;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 110%;
    gap: 8%;
    padding-right: 5%;
    text-transform: uppercase;
    font-weight: 600;
}
.header-button{
    cursor: pointer;
}
.header-button:hover{
    color: blue;
}
.socials-container{
    padding: 10px;
    position: absolute;
    left: 0%;
    top: 32%;
    display: flex;
    flex-direction: column;
    border-radius: 0px 20px 20px 0px;
    background-color: yellow;
}
.social-icon{
    height: 32px;
    cursor: pointer;
    margin-top: 17px;
    border-radius: 10px;
    padding: 6px;
}
.social-icon:hover{
    background-color: blue;
}
.masterhead-hidden{
    width: 100%;
    height: 12vh; 
}
.global-footer{
    width: 100%;
    height: 27vh;
    display: flex;
    justify-content: center;
}
.footer-container{
    width: 85%;
    height: 27vh;
    display: flex;
    flex-direction: column;
}
.footer-container-top{
    width: 100%;
    height: 18vh;
    display: flex;;
}
.footer-container-bottom{
    width: 100%;
    height: 9vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    font-size: 70%;
    font-weight: 600;
}
.footer-conatiner-left{
    width: 60%;
    height: 18vh;
    display: flex;
    flex-direction: column;
    padding-top: 1.5%;
}
.footer-conatiner-right{
    width: 40%;
    height:18vh;
    display: flex;
    flex-direction: column;
    align-items: end;
    padding-top: 1.5%;
}
.home-container,.about-conatiner,.tech-container,.proff-container,.conatct-container,.projects-container{
    width: 100%;
    height: 88vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    scroll-margin-top: 12vh;
}
.tech-container{
    height: 50vh;
}
.projects-container{
    height: auto;
}
.page-container,.page-container2,.page-container3,.page-container4,.page-container5,.page-container6{
    width: 85%;
    height: 88vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.page-container3{
    height: 50vh;
    font-family: "Roboto", sans-serif;
    justify-content: center;
    align-items: center;
    line-height: 330%;
}
.page-container6{
    height: auto;
}
.home-text{
    font-size: 320%;
}
.home-text-main{
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    font-weight: 500;    
}
.animated-text{
    font-size: 140%;
    font-weight: 700;  
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    animation: typing 3.5s steps(20, end), blink-caret 0.75s step-end infinite;
}
.home-text-sub{
    font-family: "Nunito Sans", sans-serif;
    font-size: 50%;
}
@keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
}
@keyframes blink-caret {
    from, to {
      border-color: transparent;
    }
    50% {
      border-color: black;
    }
}
button,.button-1,.button-2{
    width: 150px;
    margin-top: 4%;
    padding: 0.5% 0%;
    border-radius: 10px;
    background-color: yellow;
    display: flex;
    justify-content: center;
    font-size: 45%;
    font-weight: 700;
    font-family: "Nunito Sans", sans-serif;
    text-transform: uppercase;
    cursor: pointer;
}
.button-2{
    padding: 1.5% 0%;
    width: 130px;
    font-size: 120%;
    margin-top: 6%;
}
button{
    padding: 2.5% 0%;
    font-size: 80%;
    font-family: "Nunito Sans", sans-serif;
    text-transform: uppercase;
    border: none;
    background-color: red;
}
.about-text{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.about-right-space{
    width: 30%;
}
.container2-upper,.container4-upper,.container5-upper,.container6-upper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20vh;
    font-family: "Roboto", sans-serif;
    line-height: 330%;
}
.container2-lower,.container4-lower,.container5-lower{
    height: 68vh;
    display: flex;
}
.container5-lower-left,.container5-lower-right{
    height: 68vh;
}
.container6-lower{
    padding: 5% 0% 5% 0%;
    background-color: red;
}
.container5-lower-left{
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: start;
}
.container5-lower-right{
    width: 50%;
    display: flex;
    justify-content:end;
    align-items: start;
}
.about-text-main,.tech-text-main,.proff-text-main,.contact-text-main,.project-text-main{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 200%;
}
.about-text-sub,.tech-text-sub,.proff-text-sub,.project-text-sub{
    font-size: 100%;
}
.about-text-main2,.proff-text-main2{
    font-family: "Roboto", sans-serif;
    font-size: 130%;
    font-weight: 600;
}
.about-text-sub2,.proff-text-sub2{
    font-family: "Roboto", sans-serif;
    text-align: justify;
    font-size: 100%;
}
.about-right-space{
    display: flex;
    justify-content: end;
    align-items: center;
}
.about-img{
    height: 80%;
    animation: upDown 2s infinite;
}
@keyframes upDown {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
}
.about-interests,.proff-approch,.proff-talents{
    list-style-type: none;
    padding-left: 8%;
    line-height: 170%;
}
.proff-approch{
    padding-left: 15%;
}
.proff-talents{
    padding-left: 0%;
    text-align: end;
    padding-right: 15%;
}
.tech-icon-container{
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5%;
}
.tech-icon{
    height: 80%;
    cursor: pointer;
}
.tech-icon:hover{
    margin-top: -2%;
}
.container4-text-1{
    width: 38%;
    padding-right: 5%;
}
.container4-text-2{
    width: 38%;
    display: flex;
    flex-direction: column;
    align-items: end;
    padding-left: 5%;
}
.container4-img-1{
    width: 24%;
    display: flex;
    justify-content: center;
    align-items: end;
}
.proff-img{
    height: 80%;
}
.conatct-lowertext-main{
    font-family: "Nunito Sans", sans-serif;
    font-weight: 800;
    font-size: 300%;
}
.contact-lowertext-sub{
    font-family: "Nunito Sans", sans-serif;
    font-size: 150%;
}
.footer-text-main{
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    font-weight: 800;
}
.footer-text-sub{
    font-family: "Roboto", sans-serif;
    font-size: 80%;
    font-weight: 600;
}
.footer-social-container{
    width: 50%;
    height: 35%;
    display: flex;
    justify-content:end;
    align-items: center;
    gap: 5%;
}
.footer-social-icon{
    height: 4vh;
}
.form-container{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 0% 3% 4.5% 3%;
    border-radius: 12px;
}
form{
    width: 100%;
    margin-top: 5%;
}
input,textarea{
    background-color: white;
    border-radius:10px;
    font-family: "Roboto", sans-serif;
    font-size: 90%;
    padding: 1.5% 3%;
    width: 94%;
    margin-top: 1.5%;
    border: solid 1px;
}
.form-main-text{
    font-family: "Roboto", sans-serif;
    font-size: 130%;
    font-weight: 600;
}
.form-text{
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 90%;
    margin-top: 4%;
}
